attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
ply==3.11
referencing==0.37.0
requests==2.32.5
robotframework==7.3.2
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.7
rpds-py==0.28.0
typing_extensions==4.15.0
urllib3==2.5.0
